/* Container Styles */
.core-services {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Left Section */
.core-services__left {
    flex: 1;
}

/* Core Services Title */  
.title {
    font-family: 'Bueno', sans-serif;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

/* For the letter 'e' in Services */
.title .kelsi {
    font-family: 'Kelsi-Regular', sans-serif;
    position: relative;
}

/* Text styles */
.description, .resume-link, .services-table {
    font-family: 'PP Neue Montreal', sans-serif;
}

/* Right Section */
.core-services__right {
    flex: 1;
}

/* Table Styles */
.services-table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.category-cell {
    color: rgba(255, 255, 255, 0.5);
    vertical-align: top;
}

.number-cell {
    color: #fff;
    text-align: left;
    vertical-align: top;
}

.item-cell {
    color: #fff;
}

/* Border styles for table cells */
.services-table tr td.number-cell,
.services-table tr td.item-cell {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}