@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #054D95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #054D95;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Local Fonts */
@font-face {
  font-family: 'Kelsi-fill';
  src: url('/fonts/Kelsi-fill.otf') format('opentype');
}

@font-face {
  font-family: 'Bueno';
  src: url('/fonts/Bueno-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Kelsi-regular';
  src: url('/fonts/Kelsi-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
}