@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #054D95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #054D95;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hero Section */
#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #054D95;
  padding-top: 1rem;
}

/* Local Fonts */
@font-face {
  font-family: 'Kelsi-fill';
  src: url('/fonts/Kelsi-fill.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Super.ttf') format('truetype');
}

@font-face {
  font-family: 'Kelsi-regular';
  src: url('/fonts/Kelsi-Regular.otf') format('opentype');
}